{% extends 'main.html' %}
{% block title %}approval{% endblock %}
{% block content %}
<h2>Billing Approvals</h2>
<table>
    <tr>
        <th>Patient</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for bill in bills %}
    <tr>
        <td>{{ bill.patient.first_name }} {{ bill.patient.last_name }}</td>
        <td>₹{{ bill.total_amount }}</td>
        <td>{{ bill.payment_status }}</td>
        <td>
            {% if bill.payment_status == "Pending" %}
            <form action="{% url 'mark_as_paid' bill.billing_id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Mark as Paid</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}